/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Nov, 2019, 10:28:56 PM
    Author     : Jayasurya
*/
.tab{
    -fx-pref-width: 160;
    -fx-pref-height: 50;
}

.tab-header-background{
    -fx-background-color: #030101;
    
}

.jfx-tab-pane .tab-selected-line{
    -fx-border-color: #ffffff;
}